/* @import url(https://fonts.googleapis.com/css?family=exo:100);
/* cool infinite background scrolling animation. * twitter: @kootoopas */
/* exo thin font from google. */
/* background data (original source: https://subtlepatterns.com/grid-me/) */
/* animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 40px 40px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: top;
    transition: ease;
  }
}
/* main styles */
body {
  color: #999;
  font: 400 10.6666666667px exo, ubuntu, "segoe ui", helvetica, arial,
    sans-serif;
  text-align: center;
  background: url("../img/blockblack1.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 2s infinite;
  -moz-animation: bg-scrolling-reverse 2s infinite;
  -o-animation: bg-scrolling-reverse 2s infinite;
  animation: bg-scrolling-reverse 2s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  font-family: "Inconsolata", monospace !important;

  /* background: linear-gradient(90deg, #161122 38px, transparent 2%) center,
    linear-gradient(#161122 38px, transparent 2%) center, #a799cc;
  background-size: 40px 40px;
  transition-delay: 2s;
  transition: ease;
  animation: bg-scrolling 5s infinite 1s;
  animation-timing-function: linear; */

  /* background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(#333333 2.5px, transparent 2.5px),
    linear-gradient(to right, #333333 2.5px, #000000 2.5px);
  background-size: 50px 50px; */
}
#root {
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
