.nav-bar {
  background-color: transparent;
  font-family: "Inconsolata", monospace;
  font-size: 14px !important;
}

.nav-bar .m-auto a {
  text-decoration: none;
  color: white !important;
  padding: 1% 5% !important;
  margin: 1% 5% !important;
  font-size: 170% !important;
  position: relative;
}


.nav-bar .login button{
  background-color: blue;
  border: none;
}

@media screen and (max-width:1200px) {
  .nav-bar .login button{
    margin: 1% 5%;
  }
}

@media screen and (max-width: 990px) {
  .nav-bar .m-auto a {
    padding: 2% 0% !important;
    margin: 2% 0%;
  }
}


.nav-bar button {
  background-color: white;
}

.nav-bar .m-auto a {
  background: linear-gradient(to top, rgb(185, 185, 185) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: all 0.5s ease-out;
  border-radius: 1.5px;
}

.nav-bar .m-auto a:hover, .nav-bar .m-auto a:focus {
  color: rgb(26, 26, 26) !important;
  background-position: bottom left;

}
