.nav-bar {
  background-color: transparent;
  font-family: "Inconsolata", monospace;
  font-size: 14px !important;
}

.active {
  background-color: #000;
}

.nav-bar .m-auto a {
  text-decoration: none;
  color: white !important;
  padding: 2% 7% !important;
  margin: 1% 2% !important;
  font-size: 150% !important;
  position: relative;
}
@media screen and (max-width: 990px) {
  .nav-bar .m-auto a {
    padding: 2% 0% !important;
    margin: 2% 0%;
  }
}

.nav-bar .ml-auto .login-signup {
  font-size: 150%;
  text-decoration: none;
  color: white;
  margin-left: 1%;
}

.nav-bar button {
  background-color: white;
}

.nav-bar .m-auto a {
  background: linear-gradient(to top, rgb(218, 218, 218) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: all 0.5s ease-out;
}

.nav-bar .m-auto a:hover {
  color: rgb(26, 26, 26) !important;
  background-position: bottom left;
}
